/.idea/
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

backend/node_modules
backend/.env
mobile/custom-properties/firebase.js

frontend/node_modules


node_modules
# macOS
mobile/.DS_Store
.DS_Store