
.outerContainer{
    /* background-color: green; */
    align-content: center;
}

.custom-cards{

    /* background-color: aqua; */
    align-content: center;
    padding-bottom: 20px;
}

#addbtn{
    display: inline-block;
    background: purple;
    color: #fff;
    border: none;
    padding: 5px 10px;
    /* margin: 10px auto; */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
#addbtn:hover {
    border: black 20px;
    background: #28b7cb;
  }