.login-container {
  display: flexbox;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  float: left;
  /* left: -30%; */
  left: 0;
  position: absolute;
  box-shadow: 1px 3px 20px 1px black;
  width: 25%;
  height: 100%;
  background-color: white;
  /* padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%; */
  border-radius: 0px 25px 25px 0px;
  transition: 2000ms;
  box-shadow: grey;
}
.login-component {
  padding: 20%;
}

.register-container {
  top: 0;
  float: right;
  right: 0;
  position: absolute;
  width: 25%;
  min-height: 100vh;
  overflow: hidden;
  background-color: white;
  /* padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%; */
  border-radius: 25px 0px 0px 25px;
  transition: 2000ms;
}

.register-component {
  padding: 20%;
}

.signup {
  font-size: calc(5px + 1vmin);
  position: absolute;
  /* float: right; */
  bottom: 30px;
}

#forgot {
  font-size: 12px;
}

.hidden-right {
  float: right;
  right: -100%;
  position: relative;
  max-width: 350px;
  min-height: 100vh;
  background-color: white;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  border-radius: 25px 0px 0px 25px;
  transition: 2000ms;
}

.hidden-left {
  float: left;
  left: -100%;
  position: relative;
  max-width: 350px;
  min-height: 100vh;
  background-color: white;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  border-radius: 0px 25px 25px 0px;
  transition: 2000ms;
}
