.edit-box-button {
    display: flex !important;
    align-self: center !important;
    background: #6f4792 !important;
    color: #ffffff !important;
    border-color: #6f4792 !important;
    padding: 5px 45px !important;
    margin-top: 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.edit-box-button:hover {
    background: #ac99be !important; 
    border-color: #6f4792 !important; 
    color: #6f4792 !important;
}

.edit-box-button:disabled {
    border-color: #b8b8b8 !important;
    background-color: #cccccc !important; 
    color: #666666 !important;
}

.edit-box {
    min-height: 40vh !important;
}

.add-exercise {
    width: 40px;
    height: 30px;
    margin-top: 20px !important;
    margin-left: 9px !important;
    /* background: #6f4792 !important; */
    color: #6f4792 !important;
    /* border-color: #6f4792 !important; */

}

.add-exercise:hover {
    /* background: #ac99be !important; 
    border-color: #6f4792 !important;  */
    background-color: #c2c0c0;
    color: #492964 !important;
    font-weight: bold;
}

.decoy {
    color:#e9e3ee;
}