@import url("https://fonts.google.com/specimen/Work+Sans?query=work+sans");


/* body {
  background-image: url("./pages/images/kelly-sikkema-IZOAOjvwhaM-unsplash\ \(1\).jpg");
  font-family: "Work Sans", sans-serif;
} */

body {
  float:left;
  width:100%;
  background: url("./images/palette_max.jpg") no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-grid {
  padding-top: 7%;
  margin-left: -20px;
}

a:hover {
  color: #222991;
}

a {
  color: gray;
  font-size: small;
}
