.container-for-cards{

    display: flexbox;
    align-content: center;
    background-color: white;
    border-radius: 25px;
    width: 20%;
    /* float: right; */

}
.inner-card{
    display: flexbox;
    /* align-content: center; */
}
